<div id="youtube-video">
    <iframe 
        width="100%" 
        height="375" 
        src="https://www.youtube.com/embed/OMK5XATnMbA?autoplay=1&controls=0&loop=1&playlist=OMK5XATnMbA&mute=1&modestbranding=0&rel=0" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen
        loading="lazy">
    </iframe>
</div>