---
import Layout from '../layouts/Layout.astro';

---

<Layout title="ETASA - Proyectos destacados">


    
    <section class="bg-gray-950">
        <div class="container mx-auto px-4 py-7 mb-5">
            <h1 class="text-4xl lg:text-6xl  text-etasa font-extrabold mb-4">Nuestros proyectos</h1>
            <p class="text-gray-100 text-sm lg:text-md font-black mb-4">
                Conoce más detalles sobre nuestros trabajos y servicios realizados con acero.
            </p>
            <!-- Más contenido como texto, imágenes, FAQ, etc. -->
        </div>
        

        <div class="bg-gray-950 py-3 mb-3">
            <div class="container mx-auto px-1">
                <!-- Galería -->
                <div id="Galeria1" class="bg-gray-950 flex flex-wrap justify-center gap-3">


                     <!-- Imágenes del Proyecto 1 -->
                     <div class="w-full">
                        <h3 class="text-md lg:text-lg font-black text-center my-5 text-black rounded-lg bg-etasa">Pista Hipica </h3>
                         <div class="flex flex-col md:flex-row items-center justify-center m-3 gap-4">
                             <div class="flex flex-wrap justify-center gap-4">
                                 <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO19.webp" alt="Pista hípica de acero">
                                 <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO23.jpg" alt="Pista hípica de acero">
                                </div>
                                <div class="flex flex-wrap justify-center gap-4">
                                    <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO24.webp" alt="Pista hípica de acero">
                                    <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO60.webp" alt="Pista hípica de acero">
                                </div>
                            </div>
                    </div>

                    

                    <!-- Proyecto Outlet Querétaro -->
                    <div class="w-full">
                        <h3 class="text-md lg:text-lg font-black text-center my-4 text-black rounded-lg bg-etasa">Outlet Querétaro</h3>
                        <div class="flex flex-col md:flex-row items-center justify-center gap-4">
                            <div class="flex flex-wrap justify-center gap-4">
                                <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO55.jpg" alt="Outlet Queretaro acero">
                                <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO56.jpg" alt="Outlet Queretaro acero">
                            </div>
                            <div class="flex flex-wrap justify-center gap-4">
                                <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO33.webp" alt="Outlet Queretaro acero">
                                <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO97.jpg" alt="Outlet Queretaro acero">
                            </div>
                        </div>
                    </div>




                    <!--  Imágenes del Proyecto 6-->
                    <div class="w-full">

                        <h3 class="text-md lg:text-lg font-black text-center my-4 text-black rounded-lg bg-etasa"> Residencia Moderna de Acero </h3>
                        <div class="flex flex-col md:flex-row items-center justify-center gap-4">
                            <div class="flex flex-wrap justify-center gap-4">
                                <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO110.jpg" alt="Residencia con acero ">
                                <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO112.jpg" alt="Residencia con acero ">
                              </div>
                          <div class="flex flex-wrap justify-center gap-4">
                              <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO113.webp" alt="Residencia con acero ">
                              <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO28.jpg" alt="Residencia con acero ">
                          </div>
                      </div>
                      </div>
    


                    <div class="w-full">
                        <h3 class="text-md lg:text-lg font-black text-center my-4 text-black rounded-lg bg-etasa">Casa de Estructura de Acero</h3>
                        <!-- Imágenes del Proyecto 2 -->
                        <div class="flex flex-col md:flex-row items-center justify-center gap-4">
                            <div class="flex flex-wrap justify-center gap-4">
                                <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO90.webp" alt="Casa acero">
                                <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO34.jpg" alt="Casa acero">
                            </div>
                            <div class="flex flex-wrap justify-center gap-4">
                                <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO13.jpg" alt="Casa acero">
                                <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO99.jpg" alt="Casa acero">
                            </div>
                        </div>
                    </div>
                        
                    


                        
                        

                <!--  Imágenes del Proyecto 4-->
                <div class="w-full">
                    <h3 class="text-md lg:text-lg font-black text-center my-4 text-black rounded-lg bg-etasa">Tienda departamental y escalera de acero</h3>
                    <div class="flex flex-col md:flex-row items-center justify-center gap-4">
                        <div class="flex flex-wrap justify-center gap-4">
                            <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO109.jpg" alt="Tienda acero departamental ">
                            <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO107.jpg" alt="Tienda acero departamental ">
                        </div>
                        <div class="flex flex-wrap justify-center gap-4">
                            <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO6.jpg" alt="Tienda acero departamental ">
                            <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO105.jpg" alt="Tienda acero departamental ">
                        </div>
                    </div>
                </div>
                


                 <!--  Imágenes del Proyecto 5-->
                 <div class="w-full">                  
                     <h3 class="text-md lg:text-lg font-black text-center my-4 text-black rounded-lg bg-etasa">Deposito Dental </h3>
                     <div class="flex flex-col md:flex-row items-center justify-center gap-4">
                         <div class="flex flex-wrap justify-center gap-4">
                             <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO93.jpg" alt="Deposito acero">
                        <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO102.jpg" alt="Deposito acero">
                    </div>
                    <div class="flex flex-wrap justify-center gap-4">
                        <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO2.jpg" alt="Deposito acero">
                        <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO103.jpg" alt="Deposito acero">
                    </div>
                </div>
                </div>
                
              
                

            <!--  Imágenes del Proyecto 7-->

                    <div class="w-full">
                        <h3 class="text-md lg:text-lg font-black text-center my-4 text-black rounded-lg bg-etasa">Centro de Reproduccion Equina</h3>
                    <div class="flex flex-col md:flex-row items-center justify-center gap-4">
                    <div class="flex flex-wrap justify-center gap-4">
                        <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO92.jpg" alt="Centro Equina acero">
                        <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO45.webp" alt="Centro Equina acero">
                    </div>
                    <div class="flex flex-wrap justify-center gap-4">
                        <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO21.webp" alt="Centro Equina acero">
                        <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO26.webp" alt="Centro Equina acero">
                    </div>
                    </div>
                    </div>



                    <!-- trabajos otros -->
                    <div class="w-full mb-10">

                        <h3 class="text-md lg:text-lg font-black text-center my-4 text-black rounded-lg bg-etasa">Otros Trabajos de Acero</h3>
                    <div class="flex flex-col md:flex-row items-center justify-center gap-4">
                    <div class="flex flex-wrap justify-center gap-4">
                            <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO151.jpg" alt="trabajos acero">
                            <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO156.jpg" alt="trabajos de acero">
                        </div>
                        <div class="flex flex-wrap justify-center gap-4">
                            <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO153.jpg" alt="trabajos de acero">
                            <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO155.JPG" alt="trabajos de acero">
                        </div>
                    </div>
                    </div>
                            


                    <!-- Repite la estructura para otros grupos de imágenes -->
                </div>
            </div>
        </div>



                   
                
                <!-- Aquí puedes añadir más proyectos siguiendo el mismo patrón... -->
            </div>
        </div>
        


       

        
    </section>

  
</Layout>
