---
import Layout from '../layouts/Layout.astro';
import GalleryData from '../utils/GalleryData.js';

const gallery = GalleryData.gallery;
---

<Layout title="ETASA - Proyectos destacados">


    
    <section class="bg-gray-950">
        <div class="container mx-auto px-4 py-7 mb-5">
            <h1 class="text-4xl lg:text-6xl  text-etasa font-extrabold mb-4">Nuestros proyectos.</h1>
            <p class="text-gray-100 text-sm lg:text-md font-black mb-4">
                Conoce más detalles sobre nuestros trabajos y servicios realizados con acero.
            </p>
            <!-- Más contenido como texto, imágenes, FAQ, etc. -->
        </div>
        


        <div class="bg-gray-950 py-3 mb-3">
            <div class="container mx-auto px-1">
              <!-- Galería -->
              <div id="Galeria1" class="bg-gray-950 flex flex-wrap justify-center gap-3">
          
                {gallery.map((proyecto, ) => (
                  <div class="w-screen px-10">
                    <h3 class="text-xl lg:text-lg font-extrabold text-center my-6 text-black rounded-md bg-etasa">{proyecto.titulo}</h3>
                    <div class="flex flex-col sm:flex-wrap md:flex-row lg:flex-nowrap xl:flex-row items-center justify-center gap-7 lg:gap-x-3 xl:gap-x-9
                    ">
                      {proyecto.imagenes.map((imagen) => (
                        <img
                          class="mt-5 w-56 h-52 md:w-56 md:h-52 lg:w-48 lg:h-44 rounded-md object-cover hover:scale-125 transition-transform duration-500 ease-in-out"
                          src={imagen}
                          alt={proyecto.titulo}
                        />
                      ))}
                    </div>
                  </div>
                  
                ))}
          
              </div>
            </div>
          

        <div class="mt-7 text-center">
            <a href="/#Proyectos"  class="mt-5 text-lg bg-emerald-600 hover:bg-emerald-700 font-semibold text-white py-2 px-7 rounded transition-transform duration-300 ease-in-out group-hover:-translate-y-1">
              Volver
            </a>
          </div>


       

        
    </section>

  
</Layout>
