---
import Layout from '../layouts/Layout.astro';

import '@fortawesome/fontawesome-free/css/all.css';
---

<Layout title="ETASA - Proyectos destacados">

    <div>


        <h2 >
            Galeria de Imagenes
        </h2>
        <span class="linea"> </span>
        <section class="galeria">
            <a href="#image1">
                <img src="/EtasaImg/FOTO155.JPG" alt="Descripci贸n de la imagen 1">
            </a>
        
            <a href="#image2">
                <img src="/EtasaImg/FOTO4.jpg" alt="Descripci贸n de la imagen 2">
            </a>
        
            <a href="#image3">
                <img src="/EtasaImg/FOTO2.jpg" alt="Descripci贸n de la imagen 3">
            </a>
        
            <a href="#image4">
                <img src="/EtasaImg/FOTO100.jpg" alt="Descripci贸n de la imagen 4">
            </a>
        
            


        </section>
        

        <article class="light-box" id="image1">
            <a href="#image6" class="next" > <i class="fa-solid fa-arrow-left"></i> </a>
            <img src="/EtasaImg/FOTO155.JPG" alt="">
            <a href="#image2" class="next"> <i class="fa-solid fa-arrow-right"></i> </a>
            <a href="#" class="close"> X</a>
        </article>

        <article class="light-box" id="image2">
            <a href="#image1" class="next" > <i class="fa-solid fa-arrow-left"></i> </a>
            <img src="/EtasaImg/FOTO4.jpg" alt="">
            <a href="#image3" class="next"> <i class="fa-solid fa-arrow-right"></i> </a>
            <a href="#" class="close"> X</a>
        </article>



        <article class="light-box" id="image3">
            <a href="#image2" class="next" > <i class="fa-solid fa-arrow-left"></i> </a>
            <img src="/EtasaImg/FOTO2.jpg" alt="">
            <a href="#image4" class="next"> <i class="fa-solid fa-arrow-right"></i> </a>
            <a href="#" class="close"> X</a>
        </article>

        <article class="light-box" id="image4">
            <a href="#image3" class="next" > <i class="fa-solid fa-arrow-left"></i> </a>
            <img src="/EtasaImg/FOTO100.jpg" alt="">
            <a href="#image5" class="next"> <i class="fa-solid fa-arrow-right"></i> </a>
            <a href="#" class="close"> X</a>
        </article>






    </div>

    
   
</Layout>


<style>
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .linea{
        background: #dc093a;
        height: 5px;
        width: 100%;
        display: block;
    }

    .galeria{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        width: 95%;
        margin: auto;
        grid-gap: 10px;
        padding: 40px 0;
        overflow: hidden;


    }

    .galeria > a{
        display: block;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 6px rgba(0, 0, 0, .5);
        
    }


    .galeria img{
        width: 100%;
        vertical-align: top;
        height: 300px;
        object-fit: cover;

    }

    .galeria a:hover img{
        filter: blue(1px)_;
        transform: rotate(7deg) scale(1.1);
        transition: transform 0.8s;

    }

    .light-box{
    position: fixed;
    top: 0;
    left: 0; 
    background: rgba(0, 0, 0, .5);  
    transition: transform .4s ease-in-out; 
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    }

    .light-box img{
    width: 75vw;
    max-height: 70vh;

    }

    .light-box:target{
        transform: scale(1);
    }

    .close{
        display:block;
        position: absolute;
        top: 40px;
        right: 40px;
        background: #851919;
        color: #ffff;
        text-decoration: none;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px ;
        border-radius: 50%;
     }

     .next{
        display: block;
        background: #0d053f;
        color: #fff;
        height: 30px;
        width: 30px;
        line-height: 30px;
        text-decoration: none;
        text-align: center;
    }


    @media screen and (max-width:430px) {
        .galeria{
            grid-template-colums: repeat(auto-fit, minmax(200px, 1fr));
        }
        
        .close{
            top: 20px;
            right: 20px;

        }
    }
    

</style>
