---
import Layout from '../layouts/Layout.astro';

---

<Layout title="ETASA - Proyectos destacados">


    
    <section class="bg-gray-200">
        <div class="container mx-auto px-4 py-7 mb-5">
            <h1 class="text-5xl text-black font-extrabold mb-3">Nuestros proyectos</h1>
            <p class="text-emerald-800 text-sm font-black mb-4">
                Conoce más detalles sobre nuestros trabajos y servicios realizados con acero.
            </p>
            <!-- Más contenido como texto, imágenes, FAQ, etc. -->
        </div>
        

        <div class="bg-gray-300 py-5">
            <div class="container mx-auto px-4">
                <!-- Galería -->
                <div class="flex flex-wrap justify-center gap-4">
                    <!-- Grupo de imágenes -->
                    <div class="flex flex-col md:flex-row items-center justify-center gap-4">


                        <!-- Imágenes del Proyecto 1 -->
                        <h3 class="text-lg font-bold text-center my-4">Outlet Querétaro</h3>
                        <div class="flex flex-wrap justify-center gap-4">
                            <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO55.jpg" alt="Outlet Queretaro acero">
                            <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO56.jpg" alt="Outlet Queretaro acero">
                        </div>
                        <div class="flex flex-wrap justify-center gap-4">
                            <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO33.jpg" alt="Outlet Queretaro acero">
                            <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO97.jpg" alt="Outlet Queretaro acero">
                        </div>
                    </div>

                    <div class="flex flex-col md:flex-row items-center justify-center gap-4">

                         <h3 class="text-lg font-bold text-center my-4">Outlet Querétaro</h3>
                        <!-- Imágenes del Proyecto 2 -->
                        <div class="flex flex-wrap justify-center gap-4">
                            <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO90.jpg" alt="Casa acero">
                            <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO34.jpg" alt="Casa acero">
                        </div>
                        <div class="flex flex-wrap justify-center gap-4">
                            <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO13.jpg" alt="Casa acero">
                            <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO99.jpg" alt="Casa acero">
                        </div>
                         </div>

                    
                         <div class="flex flex-col md:flex-row items-center justify-center gap-4">

                         <h3 class="text-lg font-bold text-center my-4">Outlet Querétaro</h3>
                        <!-- Imágenes del Proyecto 3 -->
                        <div class="flex flex-wrap justify-center gap-4">
                            <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO19.jpg" alt="Pista hípica de acero">
                            <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO23.jpg" alt="Pista hípica de acero">
                        </div>
                        <div class="flex flex-wrap justify-center gap-4">
                            <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO24.jpg" alt="Pista hípica de acero">
                            <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO60.jpg" alt="Pista hípica de acero">
                        </div>
                        </div>

                <!--  Imágenes del Proyecto 4-->
                <div class="flex flex-col md:flex-row items-center justify-center gap-4">
                         <h3 class="text-lg font-bold text-center my-4">Outlet Querétaro</h3>
                         <div class="flex flex-wrap justify-center gap-4">
                            <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO109.jpg" alt="Tienda acero departamental ">
                            <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO107.jpg" alt="Tienda acero departamental ">
                        </div>
                        <div class="flex flex-wrap justify-center gap-4">
                            <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO6.jpg" alt="Tienda acero departamental ">
                            <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO105.jpg" alt="Tienda acero departamental ">
                        </div>
                        </div>


                 <!--  Imágenes del Proyecto 5-->
                 <div class="flex flex-col md:flex-row items-center justify-center gap-4">
                    <h3 class="text-lg font-bold text-center my-4">Outlet Querétaro</h3>
                    <div class="flex flex-wrap justify-center gap-4">
                        <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO93.jpg" alt="Deposito acero">
                        <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO102.jpg" alt="Deposito acero">
                    </div>
                    <div class="flex flex-wrap justify-center gap-4">
                        <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO2.jpg" alt="Deposito acero">
                        <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO103.jpg" alt="Deposito acero">
                    </div>
                    </div>

              <!--  Imágenes del Proyecto 6-->
              <div class="flex flex-col md:flex-row items-center justify-center gap-4">

                     <h3 class="text-lg font-bold text-center my-4">Outlet Querétaro</h3>
                    <div class="flex flex-wrap justify-center gap-4">
                          <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO110.jpg" alt="Residencia con acero ">
                         <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO112.jpg" alt="Residencia con acero ">
                    </div>
                    <div class="flex flex-wrap justify-center gap-4">
                        <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO113.jpg" alt="Residencia con acero ">
                        <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO28.jpg" alt="Residencia con acero ">
                    </div>
                     </div>
                

            <!--  Imágenes del Proyecto 7-->
            <div class="flex flex-col md:flex-row items-center justify-center gap-4">
                     <h3 class="text-lg font-bold text-center my-4">Outlet Querétaro</h3>
                     <div class="flex flex-wrap justify-center gap-4">
                        <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO92.jpg" alt="Centro Equina acero">
                        <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO17.jpg" alt="Centro Equina acero">
                    </div>
                    <div class="flex flex-wrap justify-center gap-4">
                        <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO21.jpg" alt="Centro Equina acero">
                        <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO26.jpg" alt="Centro Equina acero">
                    </div>
                     </div>

<!-- otros -->   <div class="flex flex-col md:flex-row items-center justify-center gap-4"></div>
                    <h3 class="text-lg font-bold text-center my-4">Outlet Querétaro</h3>
                    <div class="flex flex-wrap justify-center gap-4">
                        <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO151.jpg" alt="trabajos acero">
                        <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO156.jpg" alt="trabajos de acero">
                    </div>
                    <div class="flex flex-wrap justify-center gap-4">
                        <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO153.jpg" alt="trabajos de acero">
                        <img class="w-44 h-40 object-cover hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO155.JPG" alt="trabajos de acero">
                    </div>
                    </div>
                            


                    <!-- Repite la estructura para otros grupos de imágenes -->
                </div>
            </div>
        </div>



                   
                
                <!-- Aquí puedes añadir más proyectos siguiendo el mismo patrón... -->
            </div>
        </div>
        


       

        
    </section>

  
</Layout>
