---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.vue';
import HeroSection from '../components/HeroSection.astro';
import Services from '../components/Services.astro';



---

<Layout title="ETASA - EDIFIACIONES Y TRABAJOS DE ACERO.">
	<main class="bg-gray-950">
		
		<Navbar client:visible/>
		<HeroSection  />
		<Services />
		
		
		
		
	</main>
</Layout>

