---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.vue';
---

<Layout title="ETASA - Proyectos destacados">


    
    <section class="bg-gray-200">
        <div class="container mx-auto px-4 py-7 mb-5">
            <h1 class="text-5xl text-black font-extrabold mb-3">Nuestros proyectos</h1>
            <p class="text-emerald-800 text-sm font-black mb-4">
                Conoce más detalles sobre nuestros trabajos y servicios realizados con acero.
            </p>
            <!-- Más contenido como texto, imágenes, FAQ, etc. -->
        </div>

        <div class="container mx-auto px-4 mb-10 py-8">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-10 lg:gap-20 lg:m-20">
                <!-- Proyecto 1 -->
                <div id="Proyecto1" class="bg-gray-300 rounded-lg shadow-lg shadow-gray-400 overflow-visible mb-10">
                    <div class="flex space-x-3 mx-auto justify-between">

                        <svg xmlns="http://www.w3.org/2000/svg" fill="#00000" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
                        data-slot="icon" class="w-6 h-6 text-etasa mt-4 ml-5  overflow-hidden">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                    </svg>
                        <h2 class="text-sm lg:text-lg uppercase text-gray-900 font-black p-1 m-2 py-1 text-center">Pista hipica </h2>
                          
                    </div>
                    <div class="grid grid-cols-2 gap-3 p-1">
                        <img class="w-full max-h-[125px] hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO19.jpg" alt="Pista hipica acero">
                        <img class="w-full max-h-[125px] hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO23.jpg" alt="Pista hipica acero">
                        <img class="w-full max-h-[125px] hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO24.jpg" alt="Pista hipica acero">
                        <img class="w-full max-h-[125px] hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO60.jpg" alt="Pista hipica acero">
                    </div>
                    <div class="mt-2 mb-1 text-right">
                        <a href="/" class="text-sm bg-blue-600 m-2 text-white py-1 px-3 rounded-lg transition-transform duration-300 ease-in-out group-hover:-translate-y-1">
                          Volver
                        </a>
                      </div>
                </div>
                
                <!-- Proyecto 2 -->
                <div id="Proyecto2" class="bg-gray-300 rounded-lg shadow-lg shadow-gray-400 overflow-visible mb-10">
                    <div class="flex space-x-3 mx-auto justify-between">

                        <svg xmlns="http://www.w3.org/2000/svg" fill="#00000" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
                        data-slot="icon" class="w-6 h-6 text-etasa mt-4 ml-5  overflow-hidden">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                    </svg>
                        <h2 class="text-sm lg:text-lg uppercase text-gray-900 font-black p-1 m-2 py-1 text-center">Outlet Queretaro</h2>
                          
                    </div>
                      
                    <div class="grid grid-cols-2 gap-3 p-1">
                        <img class="w-full max-h-[125px] hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO55.jpg" alt="Outlet Queretaro acero ">
                        <img class="w-full max-h-[125px] hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO56.jpg" alt="Outlet Queretaro acero ">
                        <img class="w-full max-h-[125px] hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO33.jpg" alt="Outlet Queretaro acero ">
                        <img class="w-full max-h-[125px] hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO97.jpg" alt="Outlet Queretaro acero ">
                    </div>
                    <div class="mt-2 mb-1 text-right">
                        <a href="/" class="text-sm bg-blue-600 m-2 text-white py-1 px-3 rounded-lg transition-transform duration-300 ease-in-out group-hover:-translate-y-1">
                          Volver
                        </a>
                      </div>
                </div>


                <div id="Proyecto3" class="bg-gray-300 rounded-lg shadow-lg shadow-gray-400 overflow-visible mb-10">
                    <div class="flex space-x-3 mx-auto justify-between">

                        <svg xmlns="http://www.w3.org/2000/svg" fill="#00000" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
                        data-slot="icon" class="w-6 h-6 text-etasa mt-4 ml-5  overflow-hidden">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                    </svg>
                        <h2 class="text-sm lg:text-lg uppercase text-gray-900 font-black p-1 m-2 py-1 text-center">Casa con estructura de acero</h2>
                          
                    </div>
                    <div class="grid grid-cols-2 gap-3 p-1">
                        <img class="w-full max-h-[135px] hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO90.jpg" alt="Casa acero ">
                        <img class="w-full max-h-[135px] hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO34.jpg" alt="Casa acero ">
                        <img class="w-full max-h-[135px] hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO13.jpg" alt="Casa acero ">
                        <img class="w-full max-h-[135px] hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO99.jpg" alt="Casa acero ">
                    </div>
                    <div class="mt-2 mb-1 text-right">
                        <a href="/" class="text-sm bg-blue-600 m-2 text-white py-1 px-3 rounded-lg transition-transform duration-300 ease-in-out group-hover:-translate-y-1">
                          Volver
                        </a>
                      </div>
                </div>


                <div id="Proyecto4" class="bg-gray-300 rounded-lg shadow-lg shadow-gray-400 overflow-visible mb-10">
                    <div class="flex space-x-3 mx-auto justify-between">

                        <svg xmlns="http://www.w3.org/2000/svg" fill="#00000" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
                        data-slot="icon" class="w-6 h-6 text-etasa mt-4 ml-5  overflow-hidden">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                    </svg>
                        <h2 class="text-sm lg:text-lg uppercase text-gray-900 font-black p-1 m-2 py-1 text-center">Tienda Departamental y Escalera</h2>
                          
                    </div>
                    <div class="grid grid-cols-2 gap-3 p-1">
                        <img class="w-full max-h-[125px] hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO109.jpg" alt="Tienda acero departamental ">
                        <img class="w-full max-h-[125px] hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO107.jpg" alt="Tienda acero departamental ">
                        <img class="w-full max-h-[125px] hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO6.jpg" alt="Tienda acero departamental ">
                        <img class="w-full max-h-[137px] hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO105.jpg" alt="Tienda acero departamental ">
                    </div>
                    <div class="mt-2 mb-1 text-right">
                        <a href="/" class="text-sm bg-blue-600 m-2 text-white py-1 px-3 rounded-lg transition-transform duration-300 ease-in-out group-hover:-translate-y-1">
                          Volver
                        </a>
                      </div>
                </div>


                <div id="Proyecto5" class="bg-gray-300 rounded-lg shadow-lg shadow-gray-400 overflow-visible mb-10">
                    <div class="flex space-x-3 mx-auto justify-between">

                        <svg xmlns="http://www.w3.org/2000/svg" fill="#00000" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
                        data-slot="icon" class="w-6 h-6 text-etasa mt-4 ml-5  overflow-hidden">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                    </svg>
                        <h2 class="text-sm lg:text-lg uppercase text-gray-900 font-black p-1 m-2 py-1 text-center">Deposito dental</h2>
                          
                    </div>
                    <div class="grid grid-cols-2 gap-3 p-1">
                        <img class="w-full max-h-[130px] hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO93.jpg" alt="Deposito acero">
                        <img class="w-full max-h-[130px] hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO102.jpg" alt="Deposito acero">
                        <img class="w-full max-h-[130px] hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO2.jpg" alt="Deposito acero">
                        <img class="w-full max-h-[133px] hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO103.jpg" alt="Deposito acero">
                    </div>
                    <div class="mt-2 mb-1 text-right">
                        <a href="/" class="text-sm bg-blue-600 m-2 text-white py-1 px-3 rounded-lg transition-transform duration-300 ease-in-out group-hover:-translate-y-1">
                          Volver
                        </a>
                      </div>
                </div>


                <div id="Proyecto6" class="bg-gray-300 rounded-lg shadow-lg shadow-gray-400 overflow-visible mb-10">
                    <div class="flex space-x-3 mx-auto justify-between">

                        <svg xmlns="http://www.w3.org/2000/svg" fill="#00000" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
                        data-slot="icon" class="w-6 h-6 text-etasa mt-4 ml-5  overflow-hidden">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                    </svg>
                        <h2 class="text-sm lg:text-lg uppercase text-gray-900 font-black p-1 m-2 py-1 text-center">Residencia Moderna de acero</h2>
                          
                    </div>
                    <div class="grid grid-cols-2 gap-3 p-1">
                        <img class="w-full max-h-[146px] hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO110.jpg" alt="Residencia con acero ">
                        <img class="w-full max-h-[135px] hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO112.jpg" alt="Residencia con acero ">
                        <img class="w-full max-h-[145px] hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO113.jpg" alt="Residencia con acero ">
                        <img class="w-full max-h-[135px] hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO28.jpg" alt="Residencia con acero ">
                    </div>
                    <div class="mt-2 mb-1 text-right">
                        <a href="/" class="text-sm bg-blue-600 m-2 text-white py-1 px-3 rounded-lg transition-transform duration-300 ease-in-out group-hover:-translate-y-1">
                          Volver
                        </a>
                      </div>
                </div>

                
                <div id="Proyecto7" class="bg-gray-300 rounded-lg shadow-lg shadow-gray-400 overflow-visible mb-10">
                    <div class="flex space-x-3 mx-auto justify-between">

                        <svg xmlns="http://www.w3.org/2000/svg" fill="#00000" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
                        data-slot="icon" class="w-6 h-6 text-etasa mt-4 ml-5  overflow-hidden">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                    </svg>
                        <h2 class="text-sm lg:text-lg uppercase text-gray-900 font-black p-1 m-2 py-1 text-center">Centro de reproduccion equina</h2>
                          
                    </div>
                    <div class="grid grid-cols-2 gap-3 p-1">
                        <img class="w-full max-h-[125px] hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO92.jpg" alt="Centro Equina acero">
                        <img class="w-full max-h-[125px] hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO17.jpg" alt="Centro Equina acero">
                        <img class="w-full max-h-[125px] hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO21.jpg" alt="Centro Equina acero">
                        <img class="w-full max-h-[125px] hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO26.jpg" alt="Centro Equina acero">
                    </div>
                    <div class="mt-2 mb-1 text-right">
                        <a href="/" class="text-sm bg-blue-600 m-2 text-white py-1 px-3 rounded-lg transition-transform duration-300 ease-in-out group-hover:-translate-y-1">
                          Volver
                        </a>
                      </div>
                </div>
                

                
                <div id="Proyecto8" class="bg-gray-300 rounded-lg shadow-lg shadow-gray-400 overflow-visible mb-10">
                    <div class="flex space-x-3 mx-auto justify-between">

                        <svg xmlns="http://www.w3.org/2000/svg" fill="#00000" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
                        data-slot="icon" class="w-6 h-6 text-etasa mt-4 ml-5  overflow-hidden">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                    </svg>
                        <h2 class="text-sm lg:text-lg uppercase text-gray-900 font-black p-1 m-2 py-1 text-center">Otros trabajos de acero</h2>
                          
                    </div>
                    <div class="grid grid-cols-2 gap-3 p-1">
                        <img class="w-full max-h-[125px] hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO151.jpg" alt="trabajos de acero">
                        <img class="w-full max-h-[125px] hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO156.jpg" alt="trabajos de acero">
                        <img class="w-full max-h-[125px] hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO153.jpg" alt="trabajos de acero">
                        <img class="w-full max-h-[125px] hover:scale-125 transition-transform duration-300 ease-in-out" src="/EtasaImg/FOTO155.JPG" alt="trabajos de acero">
                    </div>
                    <div class="mt-2 mb-1 text-right">
                        <a href="/" class="text-sm bg-blue-600 m-2 text-white py-1 px-3 rounded-lg transition-transform duration-300 ease-in-out group-hover:-translate-y-1">
                          Volver
                        </a>
                      </div>
                </div>
                
                
                <!-- Aquí puedes añadir más proyectos siguiendo el mismo patrón... -->
            </div>
        </div>
        


       

        
    </section>

    <Footer client:visible />
</Layout>
