---
import Layout from '../layouts/Layout.astro';
---

<Layout title="ETASA - Proyectos destacados">


    
    <section class="bg-gray-950 ">
        <div class="container mx-auto px-4 py-10">
            <h1 class="text-3xl text-white font-bold mb-4">Más Información</h1>
            <p class="text-white mb-4">
                Aquí puedes proporcionar más detalles sobre tus servicios, historia de la empresa, filosofía, etc.
            </p>
            <!-- Más contenido como texto, imágenes, FAQ, etc. -->
        </div>


     <div class="bg-gray-800 text-white py-8">
            <div class="flex justify-center items-center space-x-8">
              <div class="flex flex-col items-center">
                <span class="text-3xl font-semibold">12+</span>
                <p>Created projects</p>
              </div>
              <div class="border-r border-gray-600 h-10"></div>
              <div class="flex flex-col items-center">
                <span class="text-3xl font-semibold">200+</span>
                <p>Projects</p>
              </div>
              <div class="border-r border-gray-600 h-10"></div>
              <div class="flex flex-col items-center">
                <span class="text-3xl font-semibold">120</span>
                <p>Happy Clients</p>
              </div>
              <div class="border-r border-gray-600 h-10"></div>
              <div class="flex flex-col items-center">
                <span class="text-3xl font-semibold">5+</span>
                <p>Years</p>
              </div>
            </div>
          </div
           
        
           <div class="py-8 px-4">
            <div class="max-w-6xl mx-auto">
              <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                <!-- Imagen 1 -->
                <div class="overflow-hidden rounded-lg shadow-lg">
                  <img src="/public/ImagenesEtasa/Card3.jpg" alt="Descripción de la imagen 1" class="w-60 h-auto object-cover transform hover:scale-110 transition duration-500 ease-in-out"/>
                </div>
                <!-- Imagen 2 -->
                <div class="overflow-hidden rounded-lg shadow-lg">
                  <img src="/path-to-your-image2.jpg" alt="Descripción de la imagen 2" class="w-full h-auto object-cover transform hover:scale-110 transition duration-500 ease-in-out"/>
                </div>
                <!-- Imagen 3 -->
                <div class="overflow-hidden rounded-lg shadow-lg">
                  <img src="/path-to-your-image3.jpg" alt="Descripción de la imagen 3" class="w-full h-auto object-cover transform hover:scale-110 transition duration-500 ease-in-out"/>
                </div>
                <!-- Imagen 4 -->
                <div class="overflow-hidden rounded-lg shadow-lg">
                  <img src="/path-to-your-image4.jpg" alt="Descripción de la imagen 4" class="w-full h-auto object-cover transform hover:scale-110 transition duration-500 ease-in-out"/>
                </div>
                <!-- Más imágenes... -->
              </div>
            </div>
          </div>
          

        

        
    </section>
</Layout>
