---
import Paragraph from "./Paragraph.astro";

---




<section id="Proyectos" class="text-gray-900 bg-gray-200 mt-2 overflow-hidden">
    <div class="bg-etasa mt-10  shadow-etasa shadow-sm p-10 w-full">
   
       <h3 class="font-extrabold text-3xl md:text-3xl lg:text-4xl text-black text-center"> Proyectos destacados </h3>

       <div class="text-center mt-3 lg:text-left">
        <p class="text-sm italic font-semibold">Tú tienes una visión, nosotros las herramientas.</p>
        <p class="text-sm leading-tight font-normal mt-2 ">No tienes por qué conformarte, si
          tienes una visión clara para tu proyecto <label class="font-bold"> nuestro equipo </label> puede ayudarte
          a materializarlo. </p>
      </div>
    </div>
    
        

    <div class="container px-5 py-24 mx-auto">
    


      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/public/EtasaImg/06399af0-6c4c-4c41-8e7d-08e376b9f0ea.jpg">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-800 bg-gray-900 opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-blue-400 mb-1">THE SUBTITLE</h2>
              
              <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/public/EtasaImg/06399af0-6c4c-4c41-8e7d-08e376b9f0ea.jpg">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-800 bg-gray-900 opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-blue-400 mb-1">THE SUBTITLE</h2>
              
              <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/public/EtasaImg/06399af0-6c4c-4c41-8e7d-08e376b9f0ea.jpg">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-800 bg-gray-900 opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-blue-400 mb-1">THE SUBTITLE</h2>
              
              <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/public/EtasaImg/06399af0-6c4c-4c41-8e7d-08e376b9f0ea.jpg">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-800 bg-gray-900 opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-blue-400 mb-1">THE SUBTITLE</h2>
              
              <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/public/EtasaImg/06399af0-6c4c-4c41-8e7d-08e376b9f0ea.jpg">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-800 bg-gray-900 opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-blue-400 mb-1">THE SUBTITLE</h2>
            
              <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/public/EtasaImg/06399af0-6c4c-4c41-8e7d-08e376b9f0ea.jpg">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-800 bg-gray-900 opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-blue-400 mb-1">THE SUBTITLE</h2>
              
              <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    </section>
  </section>