<section>
    
    <div class="">

        <div class="grid p-5 grid-cols-1 mb-10 md:grid-cols-2 lg:grid-cols-4 gap-22 gap-y-16 gap-x-9 mt-10 justify-center ">
            <div 
                :data-aos="index % 2 === 0 ? 'zoom-in-right' : 'zoom-in-left'"
                :data-aos-duration="index % 2 === 0 ? '900' : '900'"
                class="group  bg-gray-900 border border-yellow-600 shadow-xl
                shadow-slate-400 hover:bg-gray-950 rounded-xl p-0 h-62 w-70 md:h-auto md:w-auto xl:h-80 xl:w-68 xs:w-1/4 justify-center items-center mx-auto"
            >
                <a href="#!">
                    <img class="h-auto w-full object-cover rounded-xl rounded-b-none" src="../../ImagenesEtasa/Card1.jpg" alt="" />
                </a>
                    
                <div class="items-center mx-auto m-0 mb-10 justify-center font-sans">
                    <h3 class="text-lg lg:max-w-p p-1 mt-2 lg:text-base xl:text-lg text-center text-white group-hover:text-slate-100 font-bold mb-1"> Titulo Servicio </h3>
                    <hr class=" border m-0 border-etasa min-w-auto">
                <p class="font-thin lg:text-xs lg:leading-normal text-start p-2 mt-2 text-white group-hover:text-etasa mb-10 m-1 text-sm">Descripcion Lorem Lorem ipsum dolor sit lit. At sunt doloremcto d</p>
                </div>
                </div>
            </div>
        </div>
    
    
        <div class="grid p-5 grid-cols-1 mb-10 md:grid-cols-2 lg:grid-cols-4 gap-22 gap-y-16 gap-x-9 mt-10 justify-center ">
            <div 
                :data-aos="index % 2 === 0 ? 'zoom-in-right' : 'zoom-in-left'"
                :data-aos-duration="index % 2 === 0 ? '900' : '900'"
                class="group  bg-gray-900 border border-yellow-600 shadow-xl
                shadow-slate-400 hover:bg-gray-950 rounded-xl p-0 h-62 w-70 md:h-auto md:w-auto xl:h-80 xl:w-68 xs:w-1/4 justify-center items-center mx-auto"
            >
                <a href="#!">
                    <img class="h-auto w-full object-cover rounded-xl rounded-b-none" src="../../ImagenesEtasa/Card1.jpg" alt="" />
                </a>
                    
                <div class="items-center mx-auto m-0 mb-10 justify-center font-sans">
                    <h3 class="text-lg lg:max-w-p p-1 mt-2 lg:text-base xl:text-lg text-center text-white group-hover:text-slate-100 font-bold mb-1"> Titulo Servicio </h3>
                    <hr class=" border m-0 border-etasa min-w-auto">
                <p class="font-thin lg:text-xs lg:leading-normal text-start p-2 mt-2 text-white group-hover:text-etasa mb-10 m-1 text-sm">Descripcion Lorem Lorem ipsum dolor sit lit. At sunt doloremcto d</p>
                </div>
                </div>
            </div>
        </div>
    
    
        <div class="grid p-5 grid-cols-1 mb-10 md:grid-cols-2 lg:grid-cols-4 gap-22 gap-y-16 gap-x-9 mt-10 justify-center ">
            <div 
                :data-aos="index % 2 === 0 ? 'zoom-in-right' : 'zoom-in-left'"
                :data-aos-duration="index % 2 === 0 ? '900' : '900'"
                class="group  bg-gray-900 border border-yellow-600 shadow-xl
                shadow-slate-400 hover:bg-gray-950 rounded-xl p-0 h-62 w-70 md:h-auto md:w-auto xl:h-80 xl:w-68 xs:w-1/4 justify-center items-center mx-auto"
            >
                <a href="#!">
                    <img class="h-auto w-full object-cover rounded-xl rounded-b-none" src="../../ImagenesEtasa/Card1.jpg" alt="" />
                </a>
                    
                <div class="items-center mx-auto m-0 mb-10 justify-center font-sans">
                    <h3 class="text-lg lg:max-w-p p-1 mt-2 lg:text-base xl:text-lg text-center text-white group-hover:text-slate-100 font-bold mb-1"> Titulo Servicio </h3>
                    <hr class=" border m-0 border-etasa min-w-auto">
                <p class="font-thin lg:text-xs lg:leading-normal text-start p-2 mt-2 text-white group-hover:text-etasa mb-10 m-1 text-sm">Descripcion Lorem Lorem ipsum dolor sit lit. At sunt doloremcto d</p>
                </div>
                </div>
            </div>
        </div>
    
    
        <div class="grid p-5 grid-cols-1 mb-10 md:grid-cols-2 lg:grid-cols-4 gap-22 gap-y-16 gap-x-9 mt-10 justify-center ">
            <div 
                :data-aos="index % 2 === 0 ? 'zoom-in-right' : 'zoom-in-left'"
                :data-aos-duration="index % 2 === 0 ? '900' : '900'"
                class="group  bg-gray-900 border border-yellow-600 shadow-xl
                shadow-slate-400 hover:bg-gray-950 rounded-xl p-0 h-62 w-70 md:h-auto md:w-auto xl:h-80 xl:w-68 xs:w-1/4 justify-center items-center mx-auto"
            >
                <a href="#!">
                    <img class="h-auto w-full object-cover rounded-xl rounded-b-none" src="../../ImagenesEtasa/Card1.jpg" alt="" />
                </a>
                    
                <div class="items-center mx-auto m-0 mb-10 justify-center font-sans">
                    <h3 class="text-lg lg:max-w-p p-1 mt-2 lg:text-base xl:text-lg text-center text-white group-hover:text-slate-100 font-bold mb-1"> Titulo Servicio </h3>
                    <hr class=" border m-0 border-etasa min-w-auto">
                <p class="font-thin lg:text-xs lg:leading-normal text-start p-2 mt-2 text-white group-hover:text-etasa mb-10 m-1 text-sm">Descripcion Lorem Lorem ipsum dolor sit lit. At sunt doloremcto d</p>
                </div>
                </div>
            </div>
        </div>
    
    
    
        <div class="grid p-5 grid-cols-1 mb-10 md:grid-cols-2 lg:grid-cols-4 gap-22 gap-y-16 gap-x-9 mt-10 justify-center ">
            <div 
                :data-aos="index % 2 === 0 ? 'zoom-in-right' : 'zoom-in-left'"
                :data-aos-duration="index % 2 === 0 ? '900' : '900'"
                class="group  bg-gray-900 border border-yellow-600 shadow-xl
                shadow-slate-400 hover:bg-gray-950 rounded-xl p-0 h-62 w-70 md:h-auto md:w-auto xl:h-80 xl:w-68 xs:w-1/4 justify-center items-center mx-auto"
            >
                <a href="#!">
                    <img class="h-auto w-full object-cover rounded-xl rounded-b-none" src="../../ImagenesEtasa/Card1.jpg" alt="" />
                </a>
                    
                <div class="items-center mx-auto m-0 mb-10 justify-center font-sans">
                    <h3 class="text-lg lg:max-w-p p-1 mt-2 lg:text-base xl:text-lg text-center text-white group-hover:text-slate-100 font-bold mb-1"> Titulo Servicio </h3>
                    <hr class=" border m-0 border-etasa min-w-auto">
                <p class="font-thin lg:text-xs lg:leading-normal text-start p-2 mt-2 text-white group-hover:text-etasa mb-10 m-1 text-sm">Descripcion Lorem Lorem ipsum dolor sit lit. At sunt doloremcto d</p>
                </div>
                </div>
            </div>
        </div>
    
        
    
        <div class="grid p-5 grid-cols-1 mb-10 md:grid-cols-2 lg:grid-cols-4 gap-22 gap-y-16 gap-x-9 mt-10 justify-center ">
            <div 
                :data-aos="index % 2 === 0 ? 'zoom-in-right' : 'zoom-in-left'"
                :data-aos-duration="index % 2 === 0 ? '900' : '900'"
                class="group  bg-gray-900 border border-yellow-600 shadow-xl
                shadow-slate-400 hover:bg-gray-950 rounded-xl p-0 h-62 w-70 md:h-auto md:w-auto xl:h-80 xl:w-68 xs:w-1/4 justify-center items-center mx-auto"
            >
                <a href="#!">
                    <img class="h-auto w-full object-cover rounded-xl rounded-b-none" src="../../ImagenesEtasa/Card1.jpg" alt="" />
                </a>
                    
                <div class="items-center mx-auto m-0 mb-10 justify-center font-sans">
                    <h3 class="text-lg lg:max-w-p p-1 mt-2 lg:text-base xl:text-lg text-center text-white group-hover:text-slate-100 font-bold mb-1"> Titulo Servicio </h3>
                    <hr class=" border m-0 border-etasa min-w-auto">
                <p class="font-thin lg:text-xs lg:leading-normal text-start p-2 mt-2 text-white group-hover:text-etasa mb-10 m-1 text-sm">Descripcion Lorem Lorem ipsum dolor sit lit. At sunt doloremcto d</p>
                </div>
                </div>
            </div>
        </div>
    
    
        <div class="grid p-5 grid-cols-1 mb-10 md:grid-cols-2 lg:grid-cols-4 gap-22 gap-y-16 gap-x-9 mt-10 justify-center ">
            <div 
                :data-aos="index % 2 === 0 ? 'zoom-in-right' : 'zoom-in-left'"
                :data-aos-duration="index % 2 === 0 ? '900' : '900'"
                class="group  bg-gray-900 border border-yellow-600 shadow-xl
                shadow-slate-400 hover:bg-gray-950 rounded-xl p-0 h-62 w-70 md:h-auto md:w-auto xl:h-80 xl:w-68 xs:w-1/4 justify-center items-center mx-auto"
            >
                <a href="#!">
                    <img class="h-auto w-full object-cover rounded-xl rounded-b-none" src="../../ImagenesEtasa/Card1.jpg" alt="" />
                </a>
                    
                <div class="items-center mx-auto m-0 mb-10 justify-center font-sans">
                    <h3 class="text-lg lg:max-w-p p-1 mt-2 lg:text-base xl:text-lg text-center text-white group-hover:text-slate-100 font-bold mb-1"> Titulo Servicio </h3>
                    <hr class=" border m-0 border-etasa min-w-auto">
                <p class="font-thin lg:text-xs lg:leading-normal text-start p-2 mt-2 text-white group-hover:text-etasa mb-10 m-1 text-sm">Descripcion Lorem Lorem ipsum dolor sit lit. At sunt doloremcto d</p>
                </div>
                </div>
            </div>
        </div>
    
    
        <div class="grid p-5 grid-cols-1 mb-10 md:grid-cols-2 lg:grid-cols-4 gap-22 gap-y-16 gap-x-9 mt-10 justify-center ">
            <div 
                :data-aos="index % 2 === 0 ? 'zoom-in-right' : 'zoom-in-left'"
                :data-aos-duration="index % 2 === 0 ? '900' : '900'"
                class="group  bg-gray-900 border border-yellow-600 shadow-xl
                shadow-slate-400 hover:bg-gray-950 rounded-xl p-0 h-62 w-70 md:h-auto md:w-auto xl:h-80 xl:w-68 xs:w-1/4 justify-center items-center mx-auto"
            >
                <a href="#!">
                    <img class="h-auto w-full object-cover rounded-xl rounded-b-none" src="../../ImagenesEtasa/Card1.jpg" alt="" />
                </a>
                    
                <div class="items-center mx-auto m-0 mb-10 justify-center font-sans">
                    <h3 class="text-lg lg:max-w-p p-1 mt-2 lg:text-base xl:text-lg text-center text-white group-hover:text-slate-100 font-bold mb-1"> Titulo Servicio </h3>
                    <hr class=" border m-0 border-etasa min-w-auto">
                <p class="font-thin lg:text-xs lg:leading-normal text-start p-2 mt-2 text-white group-hover:text-etasa mb-10 m-1 text-sm">Descripcion Lorem Lorem ipsum dolor sit lit. At sunt doloremcto d</p>
                </div>
                </div>
            </div>
        </div>
    
    <!-- Fin cards -->
    


</section>