---
import Paragraph from "./Paragraph.astro";

---




<section id="Proyectos" class=" bg-gray-100 mt-2 overflow-hidden">

  <Paragraph> 
    <h3 class="font-raleway text-black uppercase font-extrabold text-3xl text-center" > Proyectos Destacados.</h3>

  </Paragraph>


  <div 
 
  class="grid grid-cols-1 md:grid-cols-2 mx-auto mt-10">
    <div class="max-w-sm mx-auto p-3">
      <div class="group bg-gray-100 shadow-gray-200 rounded-lg shadow-lg overflow-hidden transition-shadow duration-300 ease-in-out hover:shadow-2xl transition-shadow duration-300 ease-in-out hover:shadow-2xl">
        <!-- Contenedor de imagen con altura fija -->
        <div
         data-aos="flip-left"
  data-aos-easing="ease-out-cubic"
  data-aos-duration="1200"
        class="h-48 overflow-hidden">
          <!-- Asegúrate de que la imagen se cubra y se centre dentro del contenedor de altura fija -->
          <img class="aspect-1  w-42 h-42 object-cover object-center transition-transform duration-700 ease-in-out group-hover:scale-125" src="/EtasaImg/FOTO210.webp" alt="Project Image" style="width: 575px; height: 250px;">
        </div>
        <!-- Contenedor del texto -->
        <div class="p-4">
          <h3 class="text-lg text-center max-w-prose font-raleway font-black text-gray-800 transition-transform duration-300 ease-in-out group-hover:scale-105 group-hover:-translate-y-1">
            Pista Hipica - Valle de Bravo
          </h3>
          
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
            data-slot="icon" class="w-6 h-6 text-emerald-600 mx-auto mt-2 ">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>

         
          <div class="mt-3 text-right">
            <a href="/GaleriaDeImagenes"  class="text-sm bg-blue-600 hover:bg-blue-700  text-white py-2 px-4 rounded transition-transform duration-300 ease-in-out group-hover:-translate-y-1">
              Ver Mas
            </a>
          </div>
        </div>
      </div>
    </div>


      
        <!-- Asegúrate de que cada tarjeta tenga un tamaño fijo -->
        <div class="max-w-sm mx-auto p-3">
          <div class="group bg-gray-100 shadow-gray-200 rounded-lg shadow-lg overflow-hidden transition-shadow duration-300 ease-in-out hover:shadow-2xl">
            <!-- Contenedor de imagen con altura fija -->
            <div
             data-aos="flip-left"
  data-aos-easing="ease-out-cubic"
  data-aos-duration="1200"
            class="h-48 overflow-hidden">
              <!-- Asegúrate de que la imagen se cubra y se centre dentro del contenedor de altura fija -->
              <img class="w-42 h-42 object-cover object-center transition-transform duration-700 ease-in-out group-hover:scale-125" src="/EtasaImg/FOTO33.webp" alt="Project Image" style="width: 575px; height: 250px;">
            </div>
            <!-- Contenedor del texto -->
            <div class="p-4">
              <h3 class="text-lg text-center max-w-prose font-raleway font-black text-gray-800 transition-transform duration-300 ease-in-out group-hover:scale-105 group-hover:-translate-y-1">
                Outlet Autopista - Quererato
              </h3>
              
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
                data-slot="icon" class="w-6 h-6 text-emerald-600 mx-auto mt-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>

             
              <div class="mt-3 text-right">
                <a href="/GaleriaDeImagenes" class="text-sm bg-blue-600 hover:bg-blue-700  text-white py-2 px-4 rounded transition-transform duration-300 ease-in-out group-hover:-translate-y-1">
                  Ver Mas
                </a>
              </div>
            </div>
          </div>
        </div>






        <div class="max-w-sm mx-auto p-3">
          <div class="group bg-gray-100 shadow-gray-200 rounded-lg shadow-lg overflow-hidden transition-shadow duration-300 ease-in-out hover:shadow-2xl">
            <!-- Contenedor de imagen con altura fija -->
            <div
             data-aos="flip-left"
  data-aos-easing="ease-out-cubic"
  data-aos-duration="1200"
            class="h-48 overflow-hidden">
              <!-- Asegúrate de que la imagen se cubra y se centre dentro del contenedor de altura fija -->
              <img class="w-42 h-42 object-cover object-center transition-transform duration-700 ease-in-out group-hover:scale-125" src="/EtasaImg/FOTO27.webp" alt="Project Image" style="width: 575px; height: 250px;">
            </div>
            <!-- Contenedor del texto -->
            <div class="p-4">
              <h3 class="text-lg text-center max-w-prose font-raleway font-black text-gray-800 transition-transform duration-300 ease-in-out group-hover:scale-105 group-hover:-translate-y-1">
               Residencia - Puebla
              </h3>
              
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                 data-slot="icon" class="w-6 h-6 text-emerald-600 mx-auto mt-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>

              
              <div class="mt-3 text-right">
                <a href="/GaleriaDeImagenes"  class="text-sm bg-blue-600 hover:bg-blue-700  text-white py-2 px-4 rounded transition-transform duration-300 ease-in-out group-hover:-translate-y-1">
                  Ver Mas
                </a>
              </div>
            </div>
          </div>
        </div>




        <div class="max-w-sm mx-auto p-3">
          <div class="group bg-gray-100 shadow-gray-200 rounded-lg shadow-lg overflow-hidden transition-shadow duration-300 ease-in-out hover:shadow-2xl">
            <!-- Contenedor de imagen con altura fija -->
            <div
             data-aos="flip-left"
  data-aos-easing="ease-out-cubic"
  data-aos-duration="1200"
            class="h-48 overflow-hidden">
              <!-- Asegúrate de que la imagen se cubra y se centre dentro del contenedor de altura fija -->
              <img class="w-42 h-42 object-cover object-center transition-transform duration-700 ease-in-out group-hover:scale-125" src="/EtasaImg/FOTO205.webp" alt="Project Image" style="width: 575px; height: 250px;">
            </div>
            <!-- Contenedor del texto -->
            <div class="p-4">
              <h3 class="text-lg text-center max-w-prose font-raleway font-black text-gray-800 transition-transform duration-300 ease-in-out group-hover:scale-105 group-hover:-translate-y-1">
                Deposito Dental - Cuernavaca
              </h3>
              
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
                data-slot="icon" class="w-6 h-6 text-emerald-600 mx-auto mt-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
           
         
              <div class="mt-3 text-right">
                <a href="/GaleriaDeImagenes"  class="text-sm bg-blue-600 hover:bg-blue-700  text-white py-2 px-4 rounded transition-transform duration-300 ease-in-out group-hover:-translate-y-1">
                  Ver Mas
                </a>
              </div>
            </div>
          </div>
        </div>


        <div class="max-w-sm mx-auto p-3">
          <div class="group bg-gray-100 shadow-gray-200 rounded-lg shadow-lg overflow-hidden transition-shadow duration-300 ease-in-out hover:shadow-2xl">
            <!-- Contenedor de imagen con altura fija -->
            <div
             data-aos="flip-left"
  data-aos-easing="ease-out-cubic"
  data-aos-duration="1200"
            class="h-48 overflow-hidden">
              <!-- Asegúrate de que la imagen se cubra y se centre dentro del contenedor de altura fija -->
              <img class="w-42 h-42 object-cover object-center transition-transform duration-700 ease-in-out group-hover:scale-125" src="/EtasaImg/FOTO90.webp" alt="Project Image" style="width: 575px; height: 250px;">
            </div>
            <!-- Contenedor del texto -->
            <div class="p-4">
              <h3 class="text-lg text-center max-w-prose font-raleway font-black text-gray-800 transition-transform duration-300 ease-in-out group-hover:scale-105 group-hover:-translate-y-1">
                Casa de estructura - Ciudad de Mexico
              </h3>
            
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
                data-slot="icon" class="w-6 h-6 text-emerald-600 mx-auto mt-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>

             
              <div class="mt-3 text-right">
                <a href="/GaleriaDeImagenes"  class="text-sm bg-blue-600 hover:bg-blue-700  text-white py-2 px-4 rounded transition-transform duration-300 ease-in-out group-hover:-translate-y-1">
                  Ver Mas
                </a>
              </div>
            </div>
          </div>
        </div>


        <div class="max-w-sm mx-auto p-3">
          <div class="group bg-gray-100 shadow-gray-200 rounded-lg shadow-lg overflow-hidden transition-shadow duration-300 ease-in-out hover:shadow-2xl">
            <!-- Contenedor de imagen con altura fija -->
            <div
             data-aos="flip-left"
  data-aos-easing="ease-out-cubic"
  data-aos-duration="1200"
            class="h-48 overflow-hidden">
              <!-- Asegúrate de que la imagen se cubra y se centre dentro del contenedor de altura fija -->
              <img class="w-42 h-42 object-cover object-center transition-transform duration-700 ease-in-out group-hover:scale-125" src="/EtasaImg/FOTO14.webp" alt="Project Image" style="width: 575px; height: 250px;">
            </div>
            <!-- Contenedor del texto -->
            <div class="p-4">
              <h3 class="text-lg text-center max-w-prose font-raleway font-black text-gray-800 transition-transform duration-300 ease-in-out group-hover:scale-105 group-hover:-translate-y-1">
                Centro Reproduccion Equina - Valle de Bravo
              </h3>
              
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
               data-slot="icon" class="w-6 h-6 text-emerald-600 mx-auto mt-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>

              
              <div class="mt-3 text-right">
                <a href="/GaleriaDeImagenes"  class="text-sm bg-blue-600 hover:bg-blue-700  text-white py-2 px-4 rounded transition-transform duration-300 ease-in-out group-hover:-translate-y-1">
                  Ver Mas
                </a>
              </div>
            </div>
          </div>
        </div>


        
        
</div>



  <h3 class="text-slate-600 p-5 lg:max-w-prose mx-auto leading-normal text-center mt-10 mb-5 text-sm lg:text-md 
  font-normal font-raleway">
 En <span class="text-gray-800 font-extrabold">ETASA</span>, Nuestra filosofía se basa en la plena satisfacción del cliente
  y trabajamos con pasión para hacer realidad tus ideas. <span class="text-gray-800 font-extrabold"> Con 35 años de experiencia, </span> nuestro equipo garantiza soluciones a tus proyectos.  </h3>

<div class="w-1/3 h-1/3 flex justify-center mt-5 mb-10 bg-none mx-auto
">
    <img
    data-aos="zoom-in"
      class="items-center rounded-full bg-etasa flex justify-center p-2 m-2 w-14 h-14 bg-none -mt-1 md:w-1/4 md:h-1/4 lg:w-1/4 lg:h-1/4 xl:w-1/4 xl:h-1/4"
      src="/ImagenesEtasa/workerprof.webp"
      alt="icono servicio"
    />
    <img
    data-aos="zoom-in"
      class="items-center rounded-full bg-etasa flex justify-center p-2 m-2 ali w-14 h-14 bg-none -mt-1 md:w-1/4 md:h-1/4 lg:w-1/4 lg:h-1/4 xl:w-1/4 xl:h-1/4"
      src="/ImagenesEtasa/ubicacionessvg.webp"
      alt="icono ubicaciones"
    />
    <img
    data-aos="zoom-in"
      class="items-center rounded-full bg-etasa flex justify-center p-2 m-2 w-14 h-14 bg-none -mt-1 md:w-1/4 md:h-1/4 lg:w-1/4 lg:h-1/4 xl:w-1/4 xl:h-1/4"
      src="/ImagenesEtasa/svgeatasa.webp"
      alt="iconocalidad"
    />
</div>


    
   
  </section>
