---
import Paragraph from '../components/Paragraph.astro'
import YoutubeVideoIntro from './shared/YoutubeVideoIntro.vue'


---

<section
  id="Servicios"
    class="bg-gradient-to-b from-gray-100 to-gray-200 xs:min-h-[340vh] sm:min-h-[220vh]
     md:min-h-[120vh] lg:min-h-[180vh] xl:min-h-[130vh] overflow-hidden  "
     >
     
     
     <Paragraph class="flex">
        <h2 class="text-black font-raleway uppercase text-center text-xl md:text-2xl lg:text-3xl mb-2 font-bold lg:font-extrabold"> ¿Qué hacemos? </h2>


     </Paragraph>
    

        <section class="mt-10 m-3 p-1 mx-auto w-full md:w-3//4 lg:w-3/4  "  >
             <YoutubeVideoIntro client:idle 
            
             />
             
        </section>
    
     
        



    <article class="container mx-auto py-2 px-4">
    <img 
    class="mt-2 mb-3 w-7 h-7 items-center justify-center mx-auto"
    src="../../ImagenesEtasa/quality-medal-svgrepo-com.svg" alt="calidad etasa">
    
    <p class="text-center line-clamp-5 max-w-prose 
    mx-auto lg:text-lg xl:text-lg text-sm font-black text-gray-900 "> 
        El acero transforma la arquitectura y la ingeniería moderna.
        Conoce las ventajas del acero en la construcción. 
        
    
    </p>
    </article>
<p class="text-sm italic p-3 leading-4 max-w-prose mx-auto text-center leading-2 font-medium mb-10 text-gray-950 "

>
  En nuestras instalaciones contamos con la herramienta y equipo de vanguardia para realizar los procesos de
   fabricación y habilitado de acero con altos estándares de calidad.
</p>


    <article 


        class="bg-gray-200 max-w-[630px]   rounded-xl border border-gray-300 p-5 shadow-gray-300 shadow-sm
        text-white mb-7  items-center mx-auto ">
          <div class="flex justify-between space-x-4 lg:space-x-7 m-2 mx-auto overflow-hidden">
            <div class="flex flex-col items-center">
            <span class="text-md md:text-lg lg:text-xl text-black font-bold">30+</span>
            <p class="text-slate-800 ml-2 italic font-thin text-sm">Años de experiencia</p>
          </div>
          <div class="border-r border-gray-800 h-10"></div>
          <div class="flex flex-col items-center">
            <span class="text-md md:text-lg lg:text-xl font-bold text-black">100+</span>
            <p class="ml-2 text-slate-800 max-w-prose italic font-thin text-sm">Proyectos completados</p>
          </div>
          <div class="border-r border-gray-800 h-10"></div>
          <div class="flex flex-col items-center">
            <span class="text-md md:text-lg lg:text-xl font-bold text-black">50+ </span>
            <p class="text-slate-800 italic font-thin text-sm mr-2"> Clientes   </p>
    </article>


  </div>
</div>



  </section>
  


  



