---
import Navbar from '../components/Navbar.vue';

interface Props {
	title: string;
}


const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	
	
	
	<body class="bg-gray-950">
		<Navbar client:visible/>


		
	
		
		<slot />

		
		
	</body>
	
</html>


<script>
	
</script>


<style>
	@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

/* Resto de tu CSS aquí */

</style>
